<script>
export default {
    data () {
      return {
        money: 'Bitcoin',
        items: [
          { text: 'Bitcoin' },
          { text: 'Ethereum' },
          { text: 'Ark' },
          { text: 'NEO' }
        ],
        something:''
      }
    },
      methods: {
        redirection(item) {
           // $router.push({ name: 'buyZone' })
            console.log(item)
          location.href = '/buyZone?crypto='+item
          postMessage(item)

        }

    }

}
</script>

<template>
  <v-container fluid>
    <v-layout row wrap align-center>
      <v-flex xs6>
        <v-select
          v-model="money"
          :items="items"
          menu-props="auto"
          label="Select"
          hide-details
          single-line
        ></v-select>
      </v-flex>
       <v-flex xs6 sm6 d-flex>
                    <div>
                        <v-btn @click="redirection(money)">Acheter</v-btn>
                    </div>
                </v-flex>
    </v-layout>
  </v-container>
</template>

<style lang="scss" module>
@import '@design';
.listCoin {
    right: 0%;
}
</style>
