<script>
export default {
    data: () => ({
        items: ['Visa', 'MasterCard', 'Maestro', 'AmeX'],
        cc: "",
        ce: "",
        de: "",
        cvc: "",
        dialog: false
    }),
    methods: {
      saveTransaction() {

        }
    }
}
</script>

<template>
    <div>

        <h1>  Acheter du {{this.$route.query.crypto}}</h1>
        <v-container fluid grid-list-xl>

            <h3 style="text-align:left;">Combien en voulez vous ?</h3>
            <v-layout wrap align-center>
                <v-flex xs12 sm6 md3>
                    <v-text-field  v-model="price" mask="###" label="Quantité" placeholder="Montant"></v-text-field>
                </v-flex>
            </v-layout>
        </v-container>



        <v-container fluid grid-list-xl>
            <v-layout wrap align-center>
                <v-flex xs12 sm6 d-flex>
                    <v-select :items="items" label="Type de carte" solo></v-select>
                </v-flex>
            </v-layout>
            <v-layout wrap align-center>
                <v-flex xs12 sm6 d-flex>
                    <v-text-field v-model="cc" label="numéro de carte" mask="credit-card" required></v-text-field>
                </v-flex>
            </v-layout>
            <v-layout wrap align-center>
                <v-flex xs12 sm6 d-flex>
                    <v-text-field v-model="de" label="date d'expiration" mask="##/##" required></v-text-field>
                    <v-text-field v-model="cvc" label="CVC" mask="###" required></v-text-field>
                </v-flex>
            </v-layout>
            <v-flex xs6 sm6 d-flex>
                <div>

                    <v-layout row justify-left>
                        <v-dialog v-model="dialog" persistent max-width="290">
                            <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark v-on="on">Valider</v-btn>
                  </template>
                        <v-card>
                          <v-card-title class="headline">Vérification du paiement</v-card-title>
                          <v-card-text>Êtes vous certain de  bien vouloir acheter {{price}} {{this.$route.query.crypto}} ?</v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click="dialog = false">Refuser</v-btn>
                            <router-link to="/?status=bought"><v-btn color="blue darken-1" flat>Valider</v-btn></router-link>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>
                    </v-layout>
                </div>
            </v-flex>
        </v-container>
    </div>
</template>

<style lang="scss" module>
@import '@design';
</style>
