<script>
import { authComputed } from '@state/helpers'

export default {
    data() {
        return {
            // persistentNavRoutes: [

            // ],
            loggedInNavRoutes: [{
                    name: 'home',
                    title: 'Home',
                },
                {
                    name: 'history',
                    title: 'History',
                },
                {
                    name: 'profile',
                    title: () => 'Logged in as ' + this.$store.getters['auth/loggedIn'].message.username,
                },
                {
                    name: 'logout',
                    title: 'Log out',
                },
            ],
            loggedOutNavRoutes: [{
                name: 'login',
                title: 'Log in',
            }, ],
            signUpNavRoutes: [{
                name: 'signup',
                title: 'Sign Up',
            }, ],
        }
    },
    computed: {
        ...authComputed,
    },
}
</script>

<template>
    <v-toolbar prominent app>
        <v-toolbar-title>Hedge Fund Project</v-toolbar-title>
        <v-spacer></v-spacer>
        <!-- <v-toolbar-items class="hidden-sm-and-down">
          <v-btn
            v-for="persistentNavRoute in persistentNavRoutes"
            :key="persistentNavRoute.name"
            :to="{ name: persistentNavRoute.name }"
            exact
            flat
          >
            {{ persistentNavRoute.title }}
          </v-btn>
        </v-toolbar-items> -->
        <v-toolbar-items v-if="loggedIn" class="hidden-sm-and-down">
            <v-btn v-for="loggedInNavRoute in loggedInNavRoutes" :key="loggedInNavRoute.name" :to="{ name: loggedInNavRoute.name }" exact>
                {{ loggedInNavRoute.name === "profile" ? loggedInNavRoute.title() : loggedInNavRoute.title }}
            </v-btn>
        </v-toolbar-items>
        <v-toolbar-items v-else class="hidden-sm-and-down">
            <v-btn v-for="loggedOutNavRoute in loggedOutNavRoutes" :key="loggedOutNavRoute.name" :to="{ name: loggedOutNavRoute.name }" exact>
                {{ loggedOutNavRoute.title }}
            </v-btn>
            <v-btn v-for="signUpNavRoute in signUpNavRoutes" :key="signUpNavRoute.name" :to="{ name: signUpNavRoute.name }" exact>
                {{signUpNavRoute.name === "profile" ? signUpNavRoute.title() : signUpNavRoute.title}}
            </v-btn>
        </v-toolbar-items>
    </v-toolbar>
</template>

<style lang="scss" module>
@import '@design';
</style>
