/* eslint-disable vue/no-unused-vars */
<script>
export default {
    data() {
        return {
            money: 'Bitcoin',
            items: [
                { text: 'Bitcoin' },
                { text: 'Ethereum' },
                { text: 'Ark' },
                { text: 'NEO' }
            ],
            price: '',
            dialog: false
        }
    },
    methods: {
        sellTransaction() {
            console.log("sold");
            location.href = '/?status=sold'
        }
    }

}
</script>

<template>
    <v-container fluid>
        <v-layout row wrap align-center>
            <v-flex xs6>
                <v-select v-model="money" :items="items" menu-props="auto" label="Select" hide-details single-line></v-select>
            </v-flex>
            </v-layout><br>
            <v-layout row justify-left>
            <v-flex xs12 sm6 md3>
                <v-text-field v-model="price" mask="###"  label="Quantité" placeholder="Montant"></v-text-field>
            </v-flex>

                <v-dialog v-model="dialog" persistent max-width="290">
                    <template v-slot:activator="{ on }">
                        <v-btn color="primary" dark v-on="on">Vendre</v-btn>
</template>
                        <v-card>
                          <v-card-title class="headline">Vérification de la vente</v-card-title>
                          <v-card-text>Êtes vous certain de  bien vouloir vendre {{price}} {{this.money}} ?</v-card-text>
                          <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" flat @click="dialog = false">Refuser</v-btn>
                            <v-btn color="blue darken-1" flat  @click="sellTransaction">Valider</v-btn>
                          </v-card-actions>
                        </v-card>
                      </v-dialog>

    </v-layout>
  </v-container>
  </template>



<style lang="scss" module>
@import '@design';
</style>
