<script>
const moment = require('moment')
export default {
  data () {
      return {
        headers: [
          {
            text: 'Transaction Name',
            align: 'left',
            sortable: false,
            value: 'name'
          },
          { text: 'Timestamp', value: 'timestamp' },
          { text: 'TokenAction', value: 'tokenAction' },
          { text: 'Token', value: 'token' },
          { text: 'Amount', value: 'amount' }
        ],
        transactions: [
          {
            name: 'Test1',
            timestamp: moment("20190518", "YYYYMMDD").fromNow(),
            tokenAction: 'Buy',
            token: 'Bitcoin',
            amount: '12.3'
          },
          {
            name: 'Test2',
            timestamp: moment("20190610", "YYYYMMDD").fromNow(),
            tokenAction: 'Sell',
            token: 'Eth',
            amount: '3.2'
          },
          {
            name: 'Test3',
            timestamp: moment("20190621", "YYYYMMDD").fromNow(),
            tokenAction: 'Buy',
            token: 'Libra',
            amount: '10.2'
          }
        ]
      }
    }
}
</script>

<template>
<v-data-table
    :headers="headers"
    :items="transactions"
    class="elevation-1"
  >
    <template v-slot:items="props">
      <td>{{ props.item.name }}</td>
      <td class="text-xs-left">{{ props.item.timestamp }}</td>
      <td class="text-xs-left">{{ props.item.tokenAction }}</td>
      <td class="text-xs-left">{{ props.item.token }}</td>
      <td class="text-xs-left">{{ props.item.amount }}</td>
    </template>
  </v-data-table>
</template>

<style lang="scss" module>
@import '@design';
</style>
