<script>
import Layout from '@layouts/main'

export default {
  metaInfo: {
    title: 'Loading page...',
    meta: [{ name: 'description', content: 'Loading page...' }],
  },
  components: { Layout },
}
</script>

<template>
  <Layout>
    <Transition appear>
      <!-- Choose a loader animation -->
    </Transition>
  </Layout>
</template>

<style lang="scss" module>
@import '@design';
</style>
