<script>
import appConfig from '@src/app.config'
import Layout from '@layouts/main'

export default {
    components: { Layout },
    data:()=>(
       {
        snackbar: false,
        closeSnackBar: false,
        snackbar2: false,
        closeSnackBar2: false,
        y: 'top',
        x: null,
        mode: '',
        timeout: 6000,
        text: 'Félicitations pour votre achat !',
        text2: 'Félicitations pour votre vente !',
      }
    )
  ,
  metaInfo: {
    title: 'Home',
    meta: [{ name: 'description', content: appConfig.description }],
  },
  computed: {
    snackbarShow() {
      // eslint-disable-next-line
      return this.$route.query.status==='bought' && !this.closeSnackBar ? true : false
    },
    snackbarShow2() {
      // eslint-disable-next-line
      return this.$route.query.status==='sold' && !this.closeSnackBar2 ? true : false
    }
  },
  methods: {
    redirectBuy(){
      location.href = '/buyToken'
    },
    redirectSell(){
      location.href = '/sellToken'
    },
    showSnackbar(){
      if(this.$route.query.status==='bought'){
        this.snackbar=true;
      }
    },
    showSnackbar2(){
      if(this.$route.query.status==='sold'){
        this.snackbar2=true;
      }
    }
  },
}
</script>

<template>
  <Layout>
    <h1>Hedge Fund Project</h1>
  <v-card>
    <v-snackbar
      v-model="snackbarShow"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
    >
      {{ text }}
      <v-btn
        color="pink"
        flat
        @click="closeSnackBar = true"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-card>

    <v-card>
    <v-snackbar
      v-model="snackbarShow2"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
    >
      {{ text2 }}
      <v-btn
        color="pink"
        flat
        @click="closeSnackBar2 = true"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-card>
 

    <img src="@assets/images/logo.png" alt="Logo" /><br>
    <v-btn color="blue darken-1" flat @:click="redirectBuy">Buy Tokens</v-btn>
    <v-btn color="blue darken-1" flat @:click="redirectSell">Sell Tokens</v-btn>
  </Layout>
  
</template>
