<script>
import appConfig from '@src/app.config'
import Layout from '@layouts/main'
import LineChart from '@components/line-chart'
import axios from 'axios'

export default {
    components: { Layout, LineChart },

    metaInfo: {
        title: 'Dashboard',
        meta: [{ name: 'description', content: appConfig.description }],
    },
    data() {
        return {
            lineChart1: {
                gradientColors: appConfig.colors.infoGradient,
                gradientStops: [1, 0.2, 0],
                extraOptions: {
                    maintainAspectRatio: false,
                    legend: {
                        display: false,
                    },
                    responsive: true,
                    tooltips: {
                        backgroundColor: '#f5f5f5',
                        titleFontColor: '#333',
                        bodyFontColor: '#666',
                        bodySpacing: 4,
                        xPadding: 12,
                        mode: 'nearest',
                        intersect: 0,
                        position: 'nearest',
                    },
                    scales: {
                        yAxes: [{
                            gridLines: {
                                drawBorder: false,
                                color: 'rgba(29,140,248,0.0)',
                                zeroLineColor: 'transparent',
                            },
                        }, ],

                        xAxes: [{
                            gridLines: {
                                drawBorder: false,
                                color: 'rgba(220,53,69,0.1)',
                                zeroLineColor: 'transparent',
                            },
                        }, ],
                    },
                },
                chartData: {
                    labels: [],
                    datasets: [{
                        label: 'Data',
                        fill: true,
                        borderColor: appConfig.colors.info,
                        borderWidth: 2,
                        borderDash: [],
                        borderDashOffset: 0.0,
                        pointBackgroundColor: appConfig.colors.info,
                        pointBorderColor: 'rgba(255,255,255,0)',
                        pointHoverBackgroundColor: appConfig.colors.info,
                        pointBorderWidth: 20,
                        pointHoverRadius: 4,
                        pointHoverBorderWidth: 15,
                        pointRadius: 4,
                        data: [],
                    }, ],
                },
            },
        }
    },
    computed: {
        snackbarShow() {
            return !!(this.$route.query.status == 'bought' && !this.closeSnackBar)
        },
        snackbarShow2() {
            return !!(this.$route.query.status == 'sold' && !this.closeSnackBar2)
        }
    },
    mounted() {
        if (this.$store.getters['auth/loggedIn'] == null) {
            this.$router.push("login")
        } else {
            this.loadData()
            console.log(this.$store.getters['auth/loggedIn'])
        }
    },
    methods: {
        loadData() {
            let $vm = this
            axios.get('data.json').then(function(response) {
                let chartData = {
                    labels: response.data.values,
                    datasets: [{
                        label: 'Data',
                        fill: true,
                        borderColor: appConfig.colors.info,
                        borderWidth: 2,
                        borderDash: [],
                        borderDashOffset: 0.0,
                        pointBackgroundColor: appConfig.colors.info,
                        pointBorderColor: 'rgba(255,255,255,0)',
                        pointHoverBackgroundColor: appConfig.colors.info,
                        pointBorderWidth: 20,
                        pointHoverRadius: 6,
                        pointHoverBorderWidth: 15,
                        pointRadius: 4,
                        data: response.data.values,
                    }, ],
                }
                console.log(response.data.values)
                $vm.$refs.walletChart.updateGradients(chartData)
                $vm.lineChart1.chartData = chartData
                console.log($vm.lineChart1)
            })
        },
        redirectBuy() {
            location.href = '/buyToken'
        },
        redirectSell() {
            location.href = '/sellToken'
        },
        showSnackbar() {
            if (this.$route.query.status == 'bought') {
                snackbar = true;
            }
        },
        showSnackbar2() {
            if (this.$route.query.status == 'sold') {
                snackbar2 = true;
            }
        }
    },
}
</script>

<template>
    <Layout>
        <h1>Dashboard</h1>
        <v-card>
            <v-snackbar v-model="snackbarShow" :timeout="timeout" :top="y === 'top'" :vertical="mode === 'vertical'">
                {{ text }}
                <v-btn color="pink" flat @click="closeSnackBar = true">
                    Close
                </v-btn>
            </v-snackbar>
        </v-card>

        <v-card>
            <v-snackbar v-model="snackbarShow2" :timeout="timeout" :top="y === 'top'" :vertical="mode === 'vertical'">
                {{ text2 }}
                <v-btn color="pink" flat @click="closeSnackBar2 = true">
                    Close
                </v-btn>
            </v-snackbar>
        </v-card>
        <v-layout row wrap>
            <v-flex xs6>
                <v-card>
                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0">Portefeuille</h3>
                        </div>
                    </v-card-title>
                    <LineChart ref="walletChart" :chart-data="lineChart1.chartData" :gradient-colors="lineChart1.gradientColors" :gradient-stops="lineChart1.gradientStops" :extra-options="lineChart1.extraOptions">
                    </LineChart>
                    <!-- <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn icon>
                  <v-icon>share</v-icon>
                </v-btn>
              </v-card-actions> -->
                </v-card>
            </v-flex>
            <v-flex xs6>
                <v-card>
                    <v-card-title primary-title>
                        <div>
                            <v-btn color="blue darken-1" flat @click="redirectBuy">Buy Tokens</v-btn>
                            <v-btn color="blue darken-1" flat @click="redirectSell">Sell Tokens</v-btn>
                        </div>
                    </v-card-title>
                    <!-- <v-data-table
                headers=""
                items=""
                class="elevation-1"
              >
                <template v-slot:items="props">
                  <td>{{ props.item.name }}</td>
                  <td class="text-xs-right">{{ props.item.calories }}</td>
                  <td class="text-xs-right">{{ props.item.fat }}</td>
                  <td class="text-xs-right">{{ props.item.carbs }}</td>
                  <td class="text-xs-right">{{ props.item.protein }}</td>
                  <td class="text-xs-right">{{ props.item.iron }}</td>
</template>
          </v-data-table> -->
        </v-card>
      </v-flex>
    </v-layout>
  </Layout>
</template>
