<script>
import Layout from '@layouts/main'
import { authMethods } from '@state/helpers'
import appConfig from '@src/app.config'

export default {
  metaInfo: {
    title: 'Log in',
    meta: [{ name: 'description', content: `Log in to ${appConfig.title}` }],
  },
  components: { Layout },
  data() {
    return {
      username: '',
      password: '',
      authError: null,
      tryingToLogIn: false,
    }
  },
  computed: {
    placeholders() {
      return process.env.NODE_ENV === 'production'
        ? {}
        : {
            username: 'Use "admin" to log in with the mock API',
            password: 'Use "password" to log in with the mock API',
          }
    },
  },
  methods: {
    ...authMethods,
    // Try to log the user in with the username
    // and password they provided.
    tryToLogIn() {
      this.tryingToLogIn = true
      // Reset the authError if it existed.
      this.authError = null
      return this.logIn({
        username: this.username,
        password: this.password,
      })
        .then((res) => {
          console.log(res)
          this.tryingToLogIn = false
          if(res.success) {
          // Redirect to the originally requested page, or to the home page
          this.$router.push(this.$route.query.redirectFrom || { name: 'home' })
          } else {
            this.authError = res.message
          }
        })
        .catch((error) => {
          this.tryingToLogIn = false
          this.authError = error
        })
    },
  },
}
</script>

<template>
  <Layout>
    <v-layout align-center justify-center>
          <v-flex xs6>
            <v-card>
              <v-card-title>
                  <v-container justify-center>
                    <v-layout row justify-center>
                      <h1>Login</h1>
                    </v-layout>
                  </v-container>
                </v-card-title>
                <v-card-text>
                  <form :class="$style.form" @submit.prevent="tryToLogIn">
                    <v-text-field
                      v-model="username"
                      name="username"
                      :placeholder="placeholders.username"
                    />
                    <v-text-field
                      v-model="password"
                      name="password"
                      type="password"
                      :placeholder="placeholders.password"
                    />
                    <v-btn :disabled="tryingToLogIn" type="submit" color="success">
                      <span v-if="tryingToLogIn" > wait... </span>
                      <span v-else>
                        Log in
                      </span>
                    </v-btn>
                    <p v-if="authError">
                      There was an error logging in to your account.
                    </p>
                  </form>
                </v-card-text>
            </v-card>
          </v-flex>
    </v-layout>
  </Layout>
</template>

<style lang="scss" module>
@import '@design';

.form {
  text-align: center;
}
</style>
