<script>
import Layout from '@layouts/main'

export default {
  page() {
    return {
      title: this.$store.getters['auth/loggedIn'].message.username,
      meta: [
        {
          name: 'description',
          content: `The user profile for ${this.$store.getters['auth/loggedIn'].message.username}.`,
        },
      ],
    }
  },
  components: { Layout }
}
</script>

<template>
  <Layout>
    <h1>
      
    </h1>
    <v-layout>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0"><v-icon>face</v-icon>
                {{ this.$store.getters['auth/loggedIn'].message.username }}
                Profile</h3>
              <div> Firstname : {{ this.$store.getters['auth/loggedIn'].message.firstname }} </div>
              <div> Lastname : {{ this.$store.getters['auth/loggedIn'].message.lastname }} </div>
              <div> Mail : {{ this.$store.getters['auth/loggedIn'].message.email }} </div>
            </div>
          </v-card-title>
        </v-card>
      </v-flex>
    </v-layout>
  </Layout>
</template>
