<script>
import Layout from '@layouts/main'
import { authMethods } from '@state/helpers'
import appConfig from '@src/app.config'
import VueNotification from "@kugatsu/vuenotification";
import Vue from 'vue'
import axios from 'axios'

Vue.use(VueNotification, {
  timer: 20
});

export default {
  metaInfo: {
    title: 'Log in',
    meta: [{ name: 'description', content: `Log in to ${appConfig.title}` }],
  },
  components: { Layout },
  data() {
    return {
      username: '',
      password: '',
      firstname: '',
      lastname: '',
      email: '',
      confirmpassword: '',
      authError: null,
      tryingToSignUp: false,
    }
  },
  computed: {
    placeholders() {
      return process.env.NODE_ENV === 'production'
        ? {}
        : {
            firstname: 'Enter your firstname',
            lastname: 'Enter your lastname',
            username: 'Enter your username',
            email: 'Enter your email',
            password: 'Enter your password',
            confirmpassword: 'Confirm your password'
          }
    },
  },
  methods: {
    validEmail: function (email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    ...authMethods,
    // Try to log the user in with the username
    // and password they provided.
    tryToLogIn() {
      this.tryingToSignUp = true;
      let error = false;
      let msg = "";
      if(this.password!==this.confirmpassword){
        msg !== "" ? msg+=";" : msg += "";
        error = true;
        msg += "Your password and confirmation are different";
      }
      if(this.firstname.length < 2){
        msg !== "" ? msg+=";" : msg += "";
        error = true;
        msg += "Your firstname must have 2 letters or more"
      }
      if(this.lastname.length < 2){
        msg !== "" ? msg+=";" : msg += "";
        error = true;
        msg += "Your lastname must have 2 letters or more"
      }
      if(!this.validEmail(this.email)){
        msg !== "" ? msg+=";" : msg += "";
        error = true;
        msg += "Correct your email please"
      }
      if(this.username.length < 2){
        msg !== "" ? msg+=";" : msg += "";
        error = true;
        msg += "Your username must have 2 letters or more"
      }
      if(error){
        console.log(msg)
        console.log(msg.split(";"))
        msg.split(";").forEach(element => {
          this.$notification.error(element, {  timer: 10 });
        });
        this.tryingToSignUp = false;
      }else{
        let $vm = this
        axios.post(appConfig.API_URL + 'signup', {
          email:this.email,
          password:this.password,
          password_confirmation:this.confirmpassword,
          firstname:this.firstname,
          lastname:this.lastname,
          username: this.username
        }, {crossDomain: true}).then(function (response) {
          console.log(response);
          $vm.$notification.success("Account Created", {timer: 5, position: "topCenter"})
          $vm.tryingToSignUp = false;
          $vm.$router.push($vm.$route.query.redirectForm || {name : 'home'})
        })
        .catch(function (error) {
          console.log(error);
        });
      }

      // this.tryingToLogIn = true
      // // Reset the authError if it existed.
      // this.authError = null
      // return this.logIn({
      //   username: this.username,
      //   password: this.password,
      // })
      //   .then((token) => {
      //     this.tryingToLogIn = false

      //     // Redirect to the originally requested page, or to the home page
      //     this.$router.push(this.$route.query.redirectFrom || { name: 'home' })
      //   })
      //   .catch((error) => {
      //     this.tryingToLogIn = false
      //     this.authError = error
      //   })
    },
  },
}
</script>

<template>
  <Layout>
    <v-layout align-center justify-center>
      <v-flex xs6>
        <v-card>
          <v-card-title>
            <v-container justify-center>
              <v-layout row justify-center>
                <h1>Register</h1>
              </v-layout>
            </v-container>
          </v-card-title>
          <v-card-text>
            <form :class="$style.form" @submit.prevent="tryToLogIn">
                  <v-text-field
                    v-model="firstname"
                    name="firstname"
                    :placeholder="placeholders.firstname"
                  />
                  <v-text-field
                    v-model="lastname"
                    name="lastname"
                    :placeholder="placeholders.lastname"
                  />
                  <v-text-field
                    v-model="username"
                    name="username"
                    :placeholder="placeholders.username"
                  />
                  <v-text-field
                    v-model="email"
                    name="email"
                    type="email"
                    :placeholder="placeholders.email"
                  />
                  <v-text-field
                    v-model="password"
                    name="password"
                    type="password"
                    :placeholder="placeholders.password"
                  />
                  <v-text-field
                    v-model="confirmpassword"
                    name="confirmpassword"
                    type="password"
                    :placeholder="placeholders.confirmpassword"
                  />
                  <v-btn :disabled="tryingToSignUp" type="submit" color="success">
                    <span v-if="tryingToSignUp" > wait... </span>
                    <span v-else>
                      Sign Up
                    </span>
                  </v-btn>
                  <p v-if="authError">
                    There was an error logging in to your account.
                  </p>
                </form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </Layout>
</template>

<style lang="scss" module>
@import '@design';

.form {
  text-align: center;
}
</style>
