<script>
import Layout from '@layouts/main'
import lineChart from '@components/line-chart'
import pieChart from '@components/pie-chart'
import axios from 'axios'

export default {
  metaInfo: {
    title: 'TestChart',
    meta: [{ name: 'description', content: 'TestChart' }],
  },
  components: { Layout, lineChart, pieChart },
    data() {
      return {
        datacollection: null,
        loading: true,
        errored: false,
        options: {
          tooltips: {
            backgroundColor: '#f5f5f5',
            titleFontColor: '#333',
            bodyFontColor: '#666',
            bodySpacing: 4,
            xPadding: 12,
            mode: 'nearest',
            intersect: 0,
            position: 'nearest'
          },
                responsive: true,
                maintainAspectRatio: false,
                legend: {
                    position: "bottom"
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: "rgba(255,255,255,0.5)",
                            fontStyle: "bold",
                            beginAtZero: true,
                            maxTicksLimit: 5,
                        },
                        gridLines: {
                            drawTicks: false,
                            display: false
                        }
                      }],
                    xAxes: [{
                        gridLines: {
                            zeroLineColor: "transparent"
                        },
                        ticks: {
                            padding: 20,
                            fontColor: "rgba(255,255,255,0.5)",
                            fontStyle: "bold"
                        }
                    }]
                }
        }
      }
    },
    mounted () {
      //this.fillData()
    },
    methods: {
      // fillData () {
      //   let $vm = this
      //   axios
      //   .get('data.json')
      //   .then(response => {
      //     console.log(response.data)
      //     $vm.datacollection = {
      //         labels: response.data.values,
      //         datasets: [
      //           {
      //             borderColor: "#42b883",
      //             pointBorderColor: "#42b883",
      //             pointBackgroundColor: "#42b883",
      //             pointHoverBackgroundColor: "#42b883",
      //             pointHoverBorderColor: "#42b883",
      //             pointBorderWidth: 2,
      //             pointHoverRadius: 3,
      //             pointHoverBorderWidth: 8,
      //             pointRadius: 4,
      //             fill: true,
      //             borderWidth: 2,
      //             label: 'Data',
      //             data: response.data.values
      //           }
      //         ]
      //       }
      //   })
      //   .catch(error => {
      //     console.log(error)
      //     this.errored = true // eslint-disable-next-line
      //   }).finally(() => this.loading = false)
      // }
    }
}
</script>

<template>
  <Layout>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <div v-if="loading">
            Chargement...
          </div>
          <div v-else>
            <lineChart :chart-data="datacollection" :options="options" />
          </div>

          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Mon portefeuile</h3>
            </div>
          </v-card-title>

          <v-card-actions>
            <v-btn flat color="green">Partager</v-btn>
            <v-btn flat color="grey">Voir plus</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-flex xs6>
        <v-card>
          <div v-if="loading">
            Chargement...
          </div>
          <div v-else>
            <pieChart :chart-data="datacollection" />
          </div>

          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Mon portefeuile</h3>
            </div>
          </v-card-title>

          <v-card-actions>
            <v-btn flat color="green">Partager</v-btn>
            <v-btn flat color="grey">Voir plus</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </Layout>
</template>

<style lang="scss" module>
@import '@design';
</style>

